<div class="row" style="background-color: #fafafa; width: 30%">

    <div class="col-md-3">
        <a href="https://github.com/dnrocha1/si1Lab03" target="_blank">
            <i class="fa fa-5x fa-github"></i>
        </a>

    </div>

    <div class="col-md-3">
        <a href="daniyel.rocha@ccc.ufcg.edu.br" target="_blank">
            <i class="fa fa-5x email"></i>
        </a>

    </div>

    <div class="col-md-3">
        <a href="" target="_blank">
            <i class="fa fa-5x fa-youtube"></i>
        </a>

    </div>



</div>